__pycache__/

*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.gz
*.egg-info
*.eggs
dist/
build/
alembic/versions/__pycache__/
chroma_data/
logs/
.env
Dockerfile
docker-compose.yml
.git
.gitignore
postgres_data/
chroma_data/
hf_cache/